<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>REST Countries API with color them switcher</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div id="app">
    <div class="app" :class="!isDarkTheme ? 'light' : ''">
      <header>
        <a href="#" class="logo">Where in the world?</a>
        <button class="btn-toggle" @click="isDarkTheme = !isDarkTheme">
          <div v-if="isDarkTheme"><i class="fa-solid fa-moon"></i><span> Dark Mode</span></div>
          <div v-else><i class="fa-solid fa-sun"></i><span> Light Mode</span></div>
        </button>
      </header>
      <main>
        <div class="main-container">
          <section class="search-filter-container">
            <div class="search-field">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input v-model="inputFilter" class="search-input" type="text" placeholder="Search for a country..." />
            </div>
            <select v-model="selectFilter" name="regions" id="regions" aria-label="regions">
              <option value="">Filter by Region</option>
              <option value="">All</option>
              <option value="africa">Africa</option>
              <option value="americas">America</option>
              <option value="asia">Asia</option>
              <option value="europe">Europe</option>
              <option value="oceania">Oceania</option>
            </select>
            <div v-if="alertLowPopulation" class="card">
              <div class="content">
                All displayed countries have less than 10.000.000 habitants.
              </div>
            </div>
          </section>
          <div class="cards">
            <div class="card card-nombreDelPais" v-for="country in filteredCountries" :key="country.numericCode"
              @click="setModalCountry(country.alpha3Code)">
              <img class="flag" :src="country.flag" :alt="country.name + ' flag'" />
              <div class="content">
                <h3 class="name">{{ country.name }}</h3>
                <div><span class="country-info">Population: </span><span class="population">{{
                    country.population.toLocaleString() }}</span>
                </div>
                <div><span class="country-info">Region: </span><span class="region">{{ country.region }}</span></div>
                <div><span class="country-info">Capital: </span><span class="capital">{{ country.capital }}</span></div>
              </div>
            </div>
          </div>
          <section class="modal country-info-page" :class="modalCountry ? 'open' : 'hidden'">
            <div class="modal-content">
              <button class="btn back-btn" @click="hideCountryModal">
                <i class="fa-solid fa-arrow-left"></i>Back
              </button>
              <div class="country-details">
                <img :src="modalCountry.flag" :alt="modalCountry.name + ' flag'">
                <div class="country-content">
                  <h3 class="modal-title">{{ modalCountry.name ? modalCountry.name : 'None' }}</h3>
                  <div class="country-content-middle">
                    <div class="content-middle-left">
                      <div>
                        <span class="native-name country-info">Native Name: </span>
                        <span>{{ modalCountry.nativeName ? modalCountry.nativeName : 'None' }}</span>
                      </div>
                      <div>
                        <span class="population country-info">Population: </span>
                        <span>{{ modalCountry.population ? modalCountry.population.toLocaleString() : 'None' }}</span>
                      </div>
                      <div>
                        <span class="region country-info">Region: </span>
                        <span>{{ modalCountry.region ? modalCountry.region : 'None' }}</span>
                      </div>
                      <div>
                        <span class="sub-region country-info">Sub Region: </span>
                        <span>{{ modalCountry.subregion ? modalCountry.subregion: 'None' }}</span>
                      </div>
                      <div>
                        <span class="capital country-info">Capital: </span>
                        <span>{{ modalCountry.capital ? modalCountry.capital: 'None' }}</span>
                      </div>
                    </div>
                    <div class="content-middle-right">
                      <div>
                        <span class="domain country-info">Top Level Domain: </span>
                        <span>{{ modalCountry.topLevelDomain ? modalCountry.topLevelDomain.join(", "): 'None' }}</span>
                      </div>
                      <div>
                        <span class="currency country-info">Currencies: </span>
                        <span>{{ modalCountry.currencies ? (modalCountry.currencies.map(c => c.name).join(", ")) :
                          'None'
                          }}</span>
                      </div>
                      <div>
                        <span class="language country-info">Languages: </span>
                        <span>{{ modalCountry.languages ? modalCountry.languages.map(l => l.name).join(", "): 'None'
                          }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="border-country-container">
                    <span>Border Countries: </span>
                    <div class="country-buttons">
                      <p v-if="!modalCountry.borders">No border countries</p>
                      <button class="btn" v-for="borderCountry in modalCountry.borders"
                        @click="setModalCountry(borderCountry)">
                        {{ borderCountry }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="main.js"></script>
</body>

</html>